<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FunyuSpace!!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <meta charset="UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <nav class="navbar navbar-expand-md navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="sidebarMenu">
              <ul class="navbar-nav flex-column">
                
                
                <li class="nav-item">
                  <a class="nav-link" href='./learn_git.html'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                    <span class="ml-2">目次</span>
                  </a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href='./learn_git_contents_one.html'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                    <span class="ml-2">学習①</span>
                  </a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href='./learn_git_tests_one.html'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                    <span class="ml-2">テスト①</span>
                  </a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href='./construction_view.html'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                    <span class="ml-2">学習②</span>
                  </a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href='./construction_view.html'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                    <span class="ml-2">テスト②</span>
                  </a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href='./construction_view.html'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                    <span class="ml-2">学習③</span>
                  </a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href='./construction_view.html'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                    <span class="ml-2">テスト③</span>
                  </a>
                </li>
                
              </ul>
            </div>
          </nav>
        </div>
        <div class="col-md-9">
            
            
            <h2>Git Fetchの使い方について</h2>
            <p>Gitの操作において、しばしば使われるFetch。今回はその使い方について、説明をしたいと思う。</p>
            <p>そもそも、Git Fetchとはどのような時に使われるのだろうか？</p>
            <p>git fetchコマンドを使うと、リポジトリから最新の情報を取得することができるようだ。リポジトリの最新情報を取得するだけで、現在のローカルのソースコードが変わることがないというのが特徴のようだ。</p>
            <p>とりあえず、リポジトリから最新の情報を取得したい場合に使用するコマンドということは分かった。</p>
            <p>だがしかし、ここでいうリポジトリとは、ローカルのリポジトリのことなのか、はたまたリモートのリポジトリを指しているのかがいまいちわからない方もいるのではないか？</p>
            <p>調べてみると、リモートレポジトリから、ブランチ（とタグ）の情報をローカルレポジトリに取得するための Git コマンドであることが分かった。この際、リモート側に存在するブランチは「リモート追跡ブランチ」と呼ばれるという特別な種類のブランチとしてローカルに反映されるようだ。これは、ローカルブランチには影響を受けないことを意味するようだ。</p>
            
            <h2>リモート追跡ブランチについて</h2>
            <p>Git Fetchの使い方でも出てきた、リモート追跡ブランチについて調べてみた。こちらは、ローカルリポジトリに存在するリモートブランチの状態を追跡するブランチのようだ。</p>
            <p>では、ここでいう「追跡」とは具体的には何を指しているのだろうか？</p>
            <p>これは、ローカルからリモートブランチを追跡することを指している。</p>
            <p>リモートブランチの状態を確認するには必ずネットワークにつながっている必要があり、ネットワークがないところで作業する場合、リモートブランチの状態を保持して参照するためのブランチが、ローカルにリモート追跡ブランチとして存在するようだ。</p>
            <p>では、どのタイミングでリモート追跡ブランチの内容は更新されるのだろうか？</p>
            <p>それが、前々から出てきているGit Fetchのコマンドで、これにより同期処理が行われる。</p>
            
            <h2>Git FetchとGit Mergeの違いについて</h2>
            <p>しばしば話題に挙がる「Git FetchとGit Pullの違い」。今日はこの違いを明確化したい。</p>
            <p>ずばり、違いとは何なのか？今までの話から、Git Fetchとは、リモートブランチの最新の状態をリモート追跡ブランチに同期するコマンドということまでは分かっている。</p>
            <p>Git Pullとは、FetchとMergeの合わせ技のことである。つまり、Fetchに加えてMergeを行うことでローカルのブランチがようやく変更されることを意味する。</p>
            <p>リモートブランチの内容をそのままローカルブランチに反映させたいときはPull、あくまでリモート追跡ブランチに同期させたい場合はFetchを使うようだ。</p>
            <p>しかし、通常リモートの内容をローカルに反映させたくないという状況は考えづらい。何のためにFetchは存在するのだろうか？</p>
            <p>考えられるパターンとしては、リモートの内容をローカルで確認したいが、まだローカルの内容の更新までは行いたくない時が考えられる。当たり前ではあるが、ローカルからリモートの内容を直接参照することはできず、Git Fetch後、リモート追跡ブランチ（origin/～～～)へチェックアウトして確認することで、ローカルを更新せずにリモートの内容を確認できる。</p>
            
            <h2>FetchとRebaseの関連性について</h2>
            <p>よく、リーダーから、「Rebase前にFetchをしているか」確認を受けることがある。今日はその理由について考えてみたい。</p>
            <p>Rebaseとは、例えば作業ブランチ(bug_fix)にmainブランチをRebaseする、だったら、mainブランチからbug_fixブランチを切った後にmainブランチに対して更新(他の作業ブランチからmainブランチへのmergeなど)された内容をbug_fixブランチに取り込むことを意味していると考えるが、その前段として、1回のFetchを行うことにより、何がもたらされるのだろうか？</p>
            <p>まず、1回のFetchはmainブランチに対してRebaseするために行う必要があり、その際、ローカルのリモート追跡ブランチ(origin/main)を最新化しておく必要がある為行う。つまり、mainブランチへのcheckoutは行っておいた方がよい。何度も言うようだが、ローカルからリモートの内容を直接参照することはできないため、リモート追跡ブランチ(origin/main)を使って作業ブランチ(bug_fix)にmainブランチをRebaseするという作業となる。</p>
            <p>つまり、Rebaseの際にリモート(厳密にはリモート追跡ブランチ)に対して行いたい場合、Fetchにてリモート追跡ブランチを最新の状態に同期しておく必要がある、ということだ。リモートが成果物で、各作業者ごとに作った内容を統合したい場合、Rebaseにより最新の成果物の状態との競合が起こらないという状態にしてから、Mergeするのが安全ということだ。</p>
            <p>では、もしリモート成果物ブランチ(main)をFetch後に誰かほかの作業者がmainにMergeしてしまって、そのあと自身がRebase作業を行い、mainにMergeしようとした場合どうなるだろうか？</p>
            <p>同じ箇所を編集していた場合、競合が発生するだろう。その場合は、再度Fetchを行い、Rebase作業の中で競合の解決を行うのが安全策である。</p>
            
            <h2></h2>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            
        </div>
  </body>