<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FunyuSpace!!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <meta charset="UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <nav class="navbar navbar-expand-md navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="sidebarMenu">
            <ul class="navbar-nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="./learn_git.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">目次</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./learn_git_contents_one.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">学習①</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./learn_git_tests_one.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">テスト①</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./learn_git_contents_two.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">学習②</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./learn_git_tests_two.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">テスト②</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./construction_view.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">学習③</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./construction_view.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">テスト③</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
        </div>
        <div class="col-md-9">
            <h2>テスト</h2>
            <p>それではテストです。</p>
            
            
            <h4>テスト1</h4>
            <p>リポジトリとは何か</p>
            <select id="select01">
              <option value="value01">ディレクトリのこと</option>
              <option value="value02">ファイルのこと</option>
              <option value="value03">ファイルやディレクトリの状態を記録する場所</option>
              <option value="value04">通常リモートリポジトリを指す</option>
            </select>
                <!-- モーダルウィンドウを起動するボタン -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#MODAL1">正解</button><br>
            <button id="select_btn1" type="button" class="btn btn-primary" data-modal-title="modal-1">
              回答
            </button><br>

            <div class="modal fade" id="MODAL1">
              <div class="modal-dialog">
                <div class="modal-content">

                  <div class="modal-header">
                      正解：ファイルやディレクトリの状態を記録する場所
                  </div>
                  <div class="modal-body">
                    リポジトリとは、ファイルやディレクトリの状態を記録する場所です。保存された状態は、内容の変更履歴として格納されています。変更履歴を管理したいディレクトリをリポジトリの管理下に置くことで、そのディレクトリ内のファイルやディレクトリの変更履歴を記録することができます。
                  </div>

                </div>
              </div>  
            </div>  
            
            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Modal title</h5>
                  </div>
                  <div class="modal-body" id="exampleModalBody1">
                    ...
                  </div>
                </div>
              </div>
            </div>
          
            <h4>テスト2</h4>
            <p>Gitのリポジトリは2種類に分けられるが、それは何と何？</p>
            <select id="select02">
              <option value="value01">developブランチとmainブランチ</option>
              <option value="value02">developブランチとローカルリポジトリ</option>
              <option value="value03">リモートリポジトリとローカルリポジトリ</option>
              <option value="value04">mainブランチとローカルリポジトリ</option>
            </select>
                <!-- モーダルウィンドウを起動するボタン -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#MODAL2">正解</button><br>
            <button id="select_btn2" type="button" class="btn btn-primary" data-modal-title="modal-2">
              回答
            </button><br>

            <div class="modal fade" id="MODAL2">
              <div class="modal-dialog">
                <div class="modal-content">

                  <div class="modal-header">
                      正解：リモートリポジトリとローカルリポジトリ
                  </div>
                  <div class="modal-body">
                    リモートリポジトリ：専用のサーバに配置して複数人で共有するためのリポジトリです。ローカルリポジトリ：ユーザ一人ひとりが利用するために、自分の手元のマシン上に配置するリポジトリです。
                  </div>

                </div>
              </div>  
            </div>  
            
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Modal title</h5>
                  </div>
                  <div class="modal-body" id="exampleModalBody2">
                    ...
                  </div>
                </div>
              </div>
            </div>
          
            <h4>テスト3</h4>
            <p>上流ブランチ（Upstream branch）とは何を示すか</p>
            <select id="select03">
              <option value="value01">Gitでリポジトリを新規作成するとデフォルトで作成されるブランチ</option>
              <option value="value02">特定のリモートブランチの状態をそのままコピーしたローカルブランチのこと</option>
              <option value="value03">開発の中心となるブランチ</option>
              <option value="value04">あるローカルブランチが、履歴を追跡するように設定したリモートブランチ</option>
            </select>
                <!-- モーダルウィンドウを起動するボタン -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#MODAL3">正解</button><br>
            <button id="select_btn3" type="button" class="btn btn-primary" data-modal-title="modal-3">
              回答
            </button><br>

            <div class="modal fade" id="MODAL3">
              <div class="modal-dialog">
                <div class="modal-content">

                  <div class="modal-header">
                      正解：あるローカルブランチが、履歴を追跡するように設定したリモートブランチ
                  </div>
                  <div class="modal-body">
                    「追跡する」とは、そのブランチ上で発生したすべての更新をそのまま取り込む事を前提とする、という意味で、上流ブランチを設定することにより Git 自身もそのような動作をする事になります。Gitでは、リモートにある情報も全てローカルにコピーがある。リモートoriginのmainブランチに対応するブランチはorigin/mainという名前でローカルに保存されている。このブランチを、ローカルのmainブランチの 上流ブランチ(upstream branch) と呼ぶ。
                  </div>

                </div>
              </div>  
            </div>  
            
            <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel3">Modal title</h5>
                  </div>
                  <div class="modal-body" id="exampleModalBody3">
                    ...
                  </div>
                </div>
              </div>
            </div>
          
            <h4>テスト4</h4>
            <p>git fetchコマンドとはどのようなものか</p>
            <select id="select04">
              <option value="value01">リモートリポジトリの内容のマージを自動的に行うコマンド</option>
              <option value="value02">作業ディレクトリ内の変更をステージングエリアに追加するコマンド</option>
              <option value="value03">リモートリポジトリの最新の履歴の取得だけを行うコマンド</option>
              <option value="value04">追加・変更したファイルをGitに登録するためのコマンド</option>
            </select>
                <!-- モーダルウィンドウを起動するボタン -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#MODAL4">正解</button><br>
            <button id="select_btn4" type="button" class="btn btn-primary" data-modal-title="modal-4">
              回答
            </button><br>

            <div class="modal fade" id="MODAL4">
              <div class="modal-dialog">
                <div class="modal-content">

                  <div class="modal-header">
                      正解：リモートリポジトリの最新の履歴の取得だけを行うコマンド
                  </div>
                  <div class="modal-body">
                    git pullと同じくリモートリポジトリから最新の状態をローカルに反映するコマンドなのですが、反映先がアップストリームブランチとなります。また、git mergeはアップストリームブランチからローカルブランチを更新するコマンドとなります。単にリモートリポジトリの内容を確認したいだけの時はマージをしたくない場合もあります。そのような時はfetchを使用します。
                  </div>

                </div>
              </div>  
            </div>  
            
            <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel4">Modal title</h5>
                  </div>
                  <div class="modal-body" id="exampleModalBody4">
                    ...
                  </div>
                </div>
              </div>
            </div>
          
            <h4>テスト5</h4>
            <p>git checkoutコマンドとはどのようなものか</p>
            <select id="select05">
              <option value="value01">今作業しているブランチから退出するだけのコマンド</option>
              <option value="value02">作業ディレクトリ内の変更をステージングエリアに追加するコマンド</option>
              <option value="value03">今作業しているブランチから退出して、新たに他の作業ブランチで作業をしたい場合に使用するためのコマンド</option>
              <option value="value04">ファイルを削除するためのコマンド</option>
            </select>
                <!-- モーダルウィンドウを起動するボタン -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#MODAL5">正解</button><br>
            <button id="select_btn5" type="button" class="btn btn-primary" data-modal-title="modal-5">
              回答
            </button><br>

            <div class="modal fade" id="MODAL5">
              <div class="modal-dialog">
                <div class="modal-content">

                  <div class="modal-header">
                      正解：今作業しているブランチから退出して、新たに他の作業ブランチで作業をしたい場合に使用するためのコマンド
                  </div>
                  <div class="modal-body">
                    「git branch Aブランチ」でAブランチへチェックアウトすることができる。
                  </div>

                </div>
              </div>  
            </div>  
            
            <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel5">Modal title</h5>
                  </div>
                  <div class="modal-body" id="exampleModalBody5">
                    ...
                  </div>
                </div>
              </div>
            </div>          
        </div>
    </div>
  </div>
  <script>
  
    let myModal1 = new bootstrap.Modal(document.getElementById('exampleModal1'), {})
    let btn1 = document.getElementById("select_btn1")
    let element1 = document.getElementById("select01")
    let modalTitle1 = document.getElementById('exampleModalLabel1')
    let modalBody1 = document.getElementById('exampleModalBody1')
    let selectedValue1 = $('#select01 option:selected').text();
  
    let myModal2 = new bootstrap.Modal(document.getElementById('exampleModal2'), {})
    let btn2 = document.getElementById("select_btn2")
    let element2 = document.getElementById("select02")
    let modalTitle2 = document.getElementById('exampleModalLabel2')
    let modalBody2 = document.getElementById('exampleModalBody2')
    let selectedValue2 = $('#select02 option:selected').text();
  
    let myModal3 = new bootstrap.Modal(document.getElementById('exampleModal3'), {})
    let btn3 = document.getElementById("select_btn3")
    let element3 = document.getElementById("select03")
    let modalTitle3 = document.getElementById('exampleModalLabel3')
    let modalBody3 = document.getElementById('exampleModalBody3')
    let selectedValue3 = $('#select03 option:selected').text();
  
    let myModal4 = new bootstrap.Modal(document.getElementById('exampleModal4'), {})
    let btn4 = document.getElementById("select_btn4")
    let element4 = document.getElementById("select04")
    let modalTitle4 = document.getElementById('exampleModalLabel4')
    let modalBody4 = document.getElementById('exampleModalBody4')
    let selectedValue4 = $('#select04 option:selected').text();
  
    let myModal5 = new bootstrap.Modal(document.getElementById('exampleModal5'), {})
    let btn5 = document.getElementById("select_btn5")
    let element5 = document.getElementById("select05")
    let modalTitle5 = document.getElementById('exampleModalLabel5')
    let modalBody5 = document.getElementById('exampleModalBody5')
    let selectedValue5 = $('#select05 option:selected').text();
  
  
    $('#select01').change(function() {
      console.log("changed value" + $('#select01 option:selected').text())
      selectedValue1 = $('#select01 option:selected').text();
    })
    btn1.addEventListener('click', (e) => {
      if (selectedValue1 === "ファイルやディレクトリの状態を記録する場所") {
        modalTitle1.textContent = "正解！"
        modalBody1.textContent = "リポジトリとは、ファイルやディレクトリの状態を記録する場所です。保存された状態は、内容の変更履歴として格納されています。変更履歴を管理したいディレクトリをリポジトリの管理下に置くことで、そのディレクトリ内のファイルやディレクトリの変更履歴を記録することができます。"
      } else {
        modalTitle1.textContent = "不正解！"
        modalBody1.textContent = ""
      }
      myModal1.show()
    })
  
    $('#select02').change(function() {
      console.log("changed value" + $('#select02 option:selected').text())
      selectedValue2 = $('#select02 option:selected').text();
    })
    btn2.addEventListener('click', (e) => {
      if (selectedValue2 === "リモートリポジトリとローカルリポジトリ") {
        modalTitle2.textContent = "正解！"
        modalBody2.textContent = "リモートリポジトリ：専用のサーバに配置して複数人で共有するためのリポジトリです。ローカルリポジトリ：ユーザ一人ひとりが利用するために、自分の手元のマシン上に配置するリポジトリです。"
      } else {
        modalTitle2.textContent = "不正解！"
        modalBody2.textContent = ""
      }
      myModal2.show()
    })
  
    $('#select03').change(function() {
      console.log("changed value" + $('#select03 option:selected').text())
      selectedValue3 = $('#select03 option:selected').text();
    })
    btn3.addEventListener('click', (e) => {
      if (selectedValue3 === "あるローカルブランチが、履歴を追跡するように設定したリモートブランチ") {
        modalTitle3.textContent = "正解！"
        modalBody3.textContent = "「追跡する」とは、そのブランチ上で発生したすべての更新をそのまま取り込む事を前提とする、という意味で、上流ブランチを設定することにより Git 自身もそのような動作をする事になります。Gitでは、リモートにある情報も全てローカルにコピーがある。リモートoriginのmainブランチに対応するブランチはorigin/mainという名前でローカルに保存されている。このブランチを、ローカルのmainブランチの 上流ブランチ(upstream branch) と呼ぶ。"
      } else {
        modalTitle3.textContent = "不正解！"
        modalBody3.textContent = ""
      }
      myModal3.show()
    })
  
    $('#select04').change(function() {
      console.log("changed value" + $('#select04 option:selected').text())
      selectedValue4 = $('#select04 option:selected').text();
    })
    btn4.addEventListener('click', (e) => {
      if (selectedValue4 === "リモートリポジトリの最新の履歴の取得だけを行うコマンド") {
        modalTitle4.textContent = "正解！"
        modalBody4.textContent = "git pullと同じくリモートリポジトリから最新の状態をローカルに反映するコマンドなのですが、反映先がアップストリームブランチとなります。また、git mergeはアップストリームブランチからローカルブランチを更新するコマンドとなります。単にリモートリポジトリの内容を確認したいだけの時はマージをしたくない場合もあります。そのような時はfetchを使用します。"
      } else {
        modalTitle4.textContent = "不正解！"
        modalBody4.textContent = ""
      }
      myModal4.show()
    })
  
    $('#select05').change(function() {
      console.log("changed value" + $('#select05 option:selected').text())
      selectedValue5 = $('#select05 option:selected').text();
    })
    btn5.addEventListener('click', (e) => {
      if (selectedValue5 === "今作業しているブランチから退出して、新たに他の作業ブランチで作業をしたい場合に使用するためのコマンド") {
        modalTitle5.textContent = "正解！"
        modalBody5.textContent = "「git branch Aブランチ」でAブランチへチェックアウトすることができる。"
      } else {
        modalTitle5.textContent = "不正解！"
        modalBody5.textContent = ""
      }
      myModal5.show()
    })
  
  </script>
  </body>