<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FunyuSpace!!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link href="design.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <nav class="navbar navbar-expand-md navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="sidebarMenu">
            <ul class="navbar-nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="./learn_electric_circuit.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">目次</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./learn_electric_circuit_contents_one.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">学習①</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./learn_electric_circuit_tests_one.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">テスト①</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./learn_electric_circuit_contents_two.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">学習②</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./learn_electric_circuit_tests_two.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">テスト②</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./construction_view.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">学習③</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./construction_view.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">テスト③</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
        </div>
        <div class="col-md-9">
            <h2>テスト</h2>
            <p>それではテストです。</p>

            <div class="container">
              <div class="countdown">
                <h6 class="countdown-title">制限時間
                  <span id="year" class="new-year"></span>
                </h6>
                <div class="time-container">
                  <p class="time"><span id="minutes" class="time-num">01</span>minutes</p>
                  <p class="time"><span id="seconds" class="time-num">00</span>seconds</p>
                </div>
              </div>
            </div>
            <!-- ボタンコントロール部分 -->
            <div id="controls">
              <div class="box">
                <button id="start">スタート</button>
              </div>
            </div>
            
            
            <h4>テスト1</h4>
            <p>直流とは何か？当てはまらないものを選べ。</p>
            <select id="select01">
              <option value="value01">電流の流れる方向と電圧が一定の電流・電圧のこと</option>
              <option value="value02">流れる方向は一定だが周期的に電流・電圧が変化するもののこと</option>
              <option value="value03">乾電池の電源</option>
              <option value="value04">流れる方向と電圧が周期的に変化する電流のこと</option>
            </select>

            <button id="select_btn1" type="button" class="btn btn-primary" data-modal-title="modal-1">
              回答
            </button><br>

            <!-- モーダルウィンドウを起動するボタン -->
            <label class="ECM_CheckboxInput"><input class="ECM_CheckboxInput-Input" type="checkbox" id="checkElement1" disabled="disabled"><span class="ECM_CheckboxInput-DummyInput"></span><span class="ECM_CheckboxInput-LabelText"></span>正答</label>
            
            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Modal title</h5>
                  </div>
                  <div class="modal-body" id="exampleModalBody1">
                    ...
                  </div>
                </div>
              </div>
            </div>
          
            <h4>テスト2</h4>
            <p>交流とは何か？当てはまらないものを選べ。</p>
            <select id="select02">
              <option value="value01">非正弦波交流</option>
              <option value="value02">一定の電圧でON/OFFを繰り返すような電流</option>
              <option value="value03">流れる方向と電圧が周期的に変化する電流のこと</option>
              <option value="value04">正弦波交流</option>
            </select>

            <button id="select_btn2" type="button" class="btn btn-primary" data-modal-title="modal-2">
              回答
            </button><br>

            <!-- モーダルウィンドウを起動するボタン -->
            <label class="ECM_CheckboxInput"><input class="ECM_CheckboxInput-Input" type="checkbox" id="checkElement2" disabled="disabled"><span class="ECM_CheckboxInput-DummyInput"></span><span class="ECM_CheckboxInput-LabelText"></span>正答</label>
            
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Modal title</h5>
                  </div>
                  <div class="modal-body" id="exampleModalBody2">
                    ...
                  </div>
                </div>
              </div>
            </div>
          
            <h4>テスト3</h4>
            <p>電力の量記号は「P」で、単位にはXXXXが使われる。XXXXに入る単位を入れよ。</p>
            <select id="select03">
              <option value="value01">K(ケルビン)</option>
              <option value="value02">J(ジュール)</option>
              <option value="value03">W(ワット)</option>
              <option value="value04">P(パワー)</option>
            </select>

            <button id="select_btn3" type="button" class="btn btn-primary" data-modal-title="modal-3">
              回答
            </button><br>

            <!-- モーダルウィンドウを起動するボタン -->
            <label class="ECM_CheckboxInput"><input class="ECM_CheckboxInput-Input" type="checkbox" id="checkElement3" disabled="disabled"><span class="ECM_CheckboxInput-DummyInput"></span><span class="ECM_CheckboxInput-LabelText"></span>正答</label>
            
            <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel3">Modal title</h5>
                  </div>
                  <div class="modal-body" id="exampleModalBody3">
                    ...
                  </div>
                </div>
              </div>
            </div>
          
            <div class="modal fade" id="exampleModalCntDwn" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabelCntDwn">Modal title</h5>
                  </div>
                  <div class="modal-body" id="exampleModalBodyCntDwn">
                    ...
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
  
  <script>
  let myModalCntDwn = new bootstrap.Modal(document.getElementById('exampleModalCntDwn'), {})
  let btnCntDwn = document.getElementById("select_btn_cnt_dwn")
  let elementCntDwn = document.getElementById("selectCntDwn")
  let modalTitleCntDwn = document.getElementById('exampleModalLabelCntDwn')
  let modalBodyCntDwn = document.getElementById('exampleModalBodyCntDwn')
  let selectedValueCntDwn = $('#selectCntDwn option:selected').text();
  // 要調整
  let totalScore = 3;
  let scoreCnt = 0;

  //即時関数
  (function () {
  let timer = document.getElementById('timer');
  let start = document.getElementById('start');

  // スタートタイムを押した時の時間を入れる変数
  let startTime;
  let diff = 0;

  // 残り時間を計算するための変数
  let timeLeft;

  // 現在時刻と表示形式を合わせるために * 1000
  let timeToCountDown = 60000;

  // clearTimeoutメソッドを使いたいので、その時用に変数定義
  let timerId;

  // カウントダウンの状態を管理できるようにする
  let isRunning = false;

  // 要素を取得
  const minutes = document.getElementById('minutes');
  const seconds = document.getElementById('seconds');

  // 残り時間を表示するために、ミリ秒を渡すと、分や秒に直してくれる関数
  function updateTimer(t) {

    // 引数として渡されたtでデータオブジェクトを作りたいので変数dという変数名で作ってみる
    let d = new Date(t);
    let m = d.getMinutes();
    let s = d.getSeconds();

    // 取得した時間をDOMに追加
    minutes.innerText = m < 10 ? '0' + m : m;
    seconds.innerText = s < 10 ? '0' + s : s;
  }


  function countDown() {

    // 10ミリ秒後に実行する
    timerId = setTimeout(function () {

        // 残り時間 = カウントされる時間 - 現在時刻
        timeLeft = timeToCountDown - (Date.now() - startTime);

        // 残り時間が0になった時の処理
        if (timeLeft < 0) {
            isRunning = false;
            start.textContent = 'スタート';
            clearTimeout(timerId);
            timeLeft = 0;

            timeToCountDown = 0;

            modalTitleCntDwn.textContent = "時間切れ"
            modalBodyCntDwn.textContent = `全${totalScore}問中${scoreCnt}問正解！`
            myModalCntDwn.show()
            updateTimer(timeLeft);

            return;
        }

        // countDownを再帰的に呼び出すために記述
        updateTimer(timeLeft)
        countDown();

    }, 10);
  }

  // スタートを押したときの処理
  start.addEventListener('click', function () {

  if (isRunning === false) {
      isRunning = true;

      start.textContent = 'ストップ';
      
      startTime = Date.now();

      // カウントダウンの機能は再帰的に実行
      countDown();
  } else {
      isRunning = false;

      // 表記をStartに戻す
      start.textContent = 'スタート';

      // この時点のtimeLeftで更新してあげる
      timeToCountDown = timeLeft;

      // カウントを止めたいのでclearTimeoutする
      clearTimeout(timerId);
  }
  });
})();
  
    let myModal1 = new bootstrap.Modal(document.getElementById('exampleModal1'), {})
    let btn1 = document.getElementById("select_btn1")
    let element1 = document.getElementById("select01")
    let modalTitle1 = document.getElementById('exampleModalLabel1')
    let modalBody1 = document.getElementById('exampleModalBody1')
    let selectedValue1 = $('#select01 option:selected').text();
  
    let myModal2 = new bootstrap.Modal(document.getElementById('exampleModal2'), {})
    let btn2 = document.getElementById("select_btn2")
    let element2 = document.getElementById("select02")
    let modalTitle2 = document.getElementById('exampleModalLabel2')
    let modalBody2 = document.getElementById('exampleModalBody2')
    let selectedValue2 = $('#select02 option:selected').text();
  
    let myModal3 = new bootstrap.Modal(document.getElementById('exampleModal3'), {})
    let btn3 = document.getElementById("select_btn3")
    let element3 = document.getElementById("select03")
    let modalTitle3 = document.getElementById('exampleModalLabel3')
    let modalBody3 = document.getElementById('exampleModalBody3')
    let selectedValue3 = $('#select03 option:selected').text();
  
  
    $('#select01').change(function() {
      console.log("changed value" + $('#select01 option:selected').text())
      selectedValue1 = $('#select01 option:selected').text();
    })
    btn1.addEventListener('click', (e) => {
      if (selectedValue1 === "流れる方向と電圧が周期的に変化する電流のこと") {
        modalTitle1.textContent = "正解！"
        modalBody1.textContent = "流れる方向は一定だが周期的に電流・電圧が変化するものを脈流といい、交流を直流に変換（整流）した際には脈流が得られる。"
        checkElement1.disabled = false;
        checkElement1.checked = true;
        checkElement1.disabled = true;
        scoreCnt += 1;
      } else {
        modalTitle1.textContent = "不正解！"
        modalBody1.textContent = ""
        checkElement1.disabled = false;
        checkElement1.checked = false;
        checkElement1.disabled = true;
        scoreCnt -= 1;
      }
      myModal1.show()
    })
  
    $('#select02').change(function() {
      console.log("changed value" + $('#select02 option:selected').text())
      selectedValue2 = $('#select02 option:selected').text();
    })
    btn2.addEventListener('click', (e) => {
      if (selectedValue2 === "一定の電圧でON/OFFを繰り返すような電流") {
        modalTitle2.textContent = "正解！"
        modalBody2.textContent = "狭義の交流は、横軸を時間、縦軸を電圧とすると正弦曲線（サインカーブ）を描く。この波形を正弦波（サイン波）といい、狭義の交流を正弦波交流という。正弦波交流以外の交流を非正弦波交流といい、広義の交流に含まれる。"
        checkElement2.disabled = false;
        checkElement2.checked = true;
        checkElement2.disabled = true;
        scoreCnt += 1;
      } else {
        modalTitle2.textContent = "不正解！"
        modalBody2.textContent = ""
        checkElement2.disabled = false;
        checkElement2.checked = false;
        checkElement2.disabled = true;
        scoreCnt -= 1;
      }
      myModal2.show()
    })
  
    $('#select03').change(function() {
      console.log("changed value" + $('#select03 option:selected').text())
      selectedValue3 = $('#select03 option:selected').text();
    })
    btn3.addEventListener('click', (e) => {
      if (selectedValue3 === "W(ワット)") {
        modalTitle3.textContent = "正解！"
        modalBody3.textContent = ""
        checkElement3.disabled = false;
        checkElement3.checked = true;
        checkElement3.disabled = true;
        scoreCnt += 1;
      } else {
        modalTitle3.textContent = "不正解！"
        modalBody3.textContent = ""
        checkElement3.disabled = false;
        checkElement3.checked = false;
        checkElement3.disabled = true;
        scoreCnt -= 1;
      }
      myModal3.show()
    })
  
  </script>
</body>