<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FunyuSpace!!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <meta charset="UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <nav class="navbar navbar-expand-md navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="sidebarMenu">
            <ul class="navbar-nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="./learn_git.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">目次</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./learn_git_contents_one.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">学習①</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./learn_git_tests_one.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">テスト①</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./construction_view.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">学習②</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./construction_view.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">テスト②</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./construction_view.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">学習③</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./construction_view.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">テスト③</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
        </div>
        <div class="col-md-9">
            <h2>テスト</h2>
            <p>それではテストです。</p>
            {% set lists = ["1", "1", "1", "1", "1", "1", "1", "1"] %}
            {% for i in lists %}
            <h4>テスト{{loop.index}}</h4>
            <p>|q{{loop.index}}|</p>
            <select id="select0{{loop.index}}">
              <option value="value01">|sa{{ loop.index }}|</option>
              <option value="value02">|sb{{ loop.index }}|</option>
              <option value="value03">|sc{{ loop.index }}|</option>
              <option value="value04">|sd{{ loop.index }}|</option>
            </select>
                <!-- モーダルウィンドウを起動するボタン -->
            <!-- <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#MODAL{{loop.index}}">正解</button><br> -->
            <button id="select_btn{{ loop.index }}" type="button" class="btn btn-primary" data-modal-title="modal-{{ loop.index }}">
              回答
            </button><br>

            <!-- <div class="modal fade" id="MODAL{{loop.index}}">
              <div class="modal-dialog">
                <div class="modal-content">

                  <div class="modal-header">
                      正解：|a{{ loop.index }}|
                  </div>
                  <div class="modal-body">
                    |a_des{{ loop.index }}|
                  </div>

                </div>
              </div>  
            </div>   -->
            
            <div class="modal fade" id="exampleModal{{loop.index}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel{{loop.index}}">Modal title</h5>
                  </div>
                  <div class="modal-body" id="exampleModalBody{{loop.index}}">
                    ...
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
    </div>
  </div>
  <script>
  {% for i in lists %}
    let myModal{{ loop.index }} = new bootstrap.Modal(document.getElementById('exampleModal{{loop.index}}'), {})
    let btn{{ loop.index }} = document.getElementById("select_btn{{ loop.index }}")
    let element{{ loop.index }} = document.getElementById("select0{{ loop.index }}")
    let modalTitle{{ loop.index }} = document.getElementById('exampleModalLabel{{loop.index}}')
    let modalBody{{ loop.index }} = document.getElementById('exampleModalBody{{loop.index}}')
    let selectedValue{{ loop.index }} = $('#select0{{ loop.index }} option:selected').text();
  {% endfor %}
  {% for i in lists %}
    $('#select0{{ loop.index }}').change(function() {
      console.log("changed value" + $('#select0{{ loop.index }} option:selected').text())
      selectedValue{{ loop.index }} = $('#select0{{ loop.index }} option:selected').text();
    })
    btn{{ loop.index }}.addEventListener('click', (e) => {
      if (selectedValue{{ loop.index }} === "|a{{loop.index}}|") {
        modalTitle{{ loop.index }}.textContent = "正解！"
        modalBody{{ loop.index }}.textContent = "|a_des{{loop.index}}|"
      } else {
        modalTitle{{ loop.index }}.textContent = "不正解！"
        modalBody{{ loop.index }}.textContent = ""
      }
      myModal{{ loop.index }}.show()
    })
  {% endfor %}
  </script>
  </body>
