<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FunyuSpace!!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link href="design.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <nav class="navbar navbar-expand-md navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="sidebarMenu">
            <ul class="navbar-nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="./learn_electric_circuit.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">目次</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./learn_electric_circuit_contents_one.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">学習①</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./learn_electric_circuit_tests_one.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">テスト①</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./learn_electric_circuit_contents_two.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">学習②</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./learn_electric_circuit_tests_two.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">テスト②</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./construction_view.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">学習③</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./construction_view.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">テスト③</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
        </div>
        <div class="col-md-9">
            
            
            <h2>直流</h2>
            <p>電気は電流・電圧の形態で直流と交流に大別される。</p>
            <p>では直流とは何であろうか？</p>
            <p>電流の流れる方向と電圧が一定の電流・電圧のことを直流という。代表的な直流電源が乾電池だ。</p>
            <p>電圧・電流が一定のものが狭義の直流だが、流れる方向が一定であれば電流・電圧が変化するものも広義の直流として扱われる。時間の経過によって電流・電圧が増加したり低下したりするような電流や、一定の電圧でON/OFFを繰り返すような電流も広義では直流だ。</p>
            <p>広義の直流のうち、流れる方向は一定だが周期的に電流・電圧が変化するものがある。</p>
            <p>これを脈流といい、交流を直流に変換（整流）した際には脈流が得られる。（出典：「カラー徹底図解 基本からわかる電気回路」 | 出版社：株式会社ナツメ社 | 監修者：高崎和之 ）</p>
            
            <h2>交流</h2>
            <p>次は、交流について考えていこう。</p>
            <p>交流とは何であろうか？</p>
            <p>流れる方向と電圧が周期的に変化する電流を交流という。代表的な交流電源は電力会社から供給される商用電源だ。</p>
            <p>狭義の交流は、横軸を時間、縦軸を電圧とすると正弦曲線（サインカーブ）を描く。この波形を正弦波（サイン波）といい、狭義の交流を正弦波交流という。正弦波交流以外の交流を非正弦波交流といい、広義の交流に含まれる。</p>
            <p>交流の波形の山と谷のセットをサイクルという。</p>
            <p>1サイクルに要する時間を周期、1秒間のサイクル回数を周波数という。（出典：「カラー徹底図解 基本からわかる電気回路」 | 出版社：株式会社ナツメ社 | 監修者：高崎和之 ）</p>
            
            <h2>電力</h2>
            <p>エネルギーである電気は仕事をすることができる。仕事をすると、電気エネルギーが他の形態のエネルギーに変換される。</p>
            <p></p>
            <p>一定時間の間に行われる仕事の量を仕事率といい、電気の世界では電力という。電力の量記号は「P」で、単位には[W(ワット)]が使われる。</p>
            <p>電力P[W]、仕事W[J]、時間t[s]の関係は、次の式となる。P=W/t</p>
            <p>しかし、電気回路の解析では、電荷の大きさから電力をとらえることは少ない。</p>
            <p>電圧・電流・抵抗から電力を求めることが多い。V=W/Qより、P=VQ/t=VIt/t=VI[W]という式が成立する。（出典：「カラー徹底図解 基本からわかる電気回路」 | 出版社：株式会社ナツメ社 | 監修者：高崎和之 ）</p>
            
            <h2>電力量</h2>
            <p>電気によって実際に行われた仕事の量は、仕事率である電力に時間をかければ求められる。</p>
            <p></p>
            <p>この仕事の量を電気の世界では電力量といい、W=Pt[J=Ws(ワット秒)]で表される。</p>
            <p>電圧V[V]・電流I[A]、抵抗R[Ω]のうち2つの要素であらわすことができるので、それぞれの式に時間tをかけても電力量Wを求めることができる。</p>
            <p>これら電力量を求める式をまとめると、以下のようになる。</p>
            <p>W=Pt=VIt=V^2t/R=I^2Rt（出典：「カラー徹底図解 基本からわかる電気回路」 | 出版社：株式会社ナツメ社 | 監修者：高崎和之 ）</p>
            
            <h2></h2>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            
            <h2></h2>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            
            <h2></h2>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            
        </div>
  </body>