<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FunyuSpace!!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <meta charset="UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <nav class="navbar navbar-expand-md navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="sidebarMenu">
            <ul class="navbar-nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="./learn_electric_circuit.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">目次</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./learn_electric_circuit_contents_one.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">学習①</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./learn_electric_circuit_tests_one.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">テスト①</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./learn_electric_circuit_contents_two.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">学習②</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./learn_electric_circuit_tests_two.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">テスト②</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./construction_view.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">学習③</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./construction_view.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  <span class="ml-2">テスト③</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
        </div>
        <div class="col-md-9">
            
            
            <h2>エネルギーについて</h2>
            <p>電気とは、エネルギーの形態の一つだ。エネルギーには他にも、運動、熱、光、化学、磁気などさまざまな形態のものがある。電気エネルギーは、こうした他の形態のエネルギーに比較的簡単に変換することができる。また、他の形態のエネルギーを変換して電気エネルギーを作り出すことも比較的容易だ。</p>
            <p>しかし弱点もある。それは何だろうか？</p>
            <p>保存が難しいことにある。充電によって繰り返し使用できる二次電池もあるが、現状では大きなエネルギーを蓄えることは難しい。</p>
            <p>なお、乾電池などの一次電池も含めて、電池の多くは電気エネルギーそのものを蓄えているわけではない。化学エネルギーの形態で蓄えられていて、使う際に電気エネルギーに変換している。</p>
            <p>エネルギーを考えるうえで重要なことを考えてみたい。</p>
            <p>それは、エネルギーは決してなくならない、ということだ。あるエネルギーを他の形態に変換しても、その総量は変化しない。これをエネルギー保存の法則という。（出典：「カラー徹底図解 基本からわかる電気回路」 | 出版社：株式会社ナツメ社 | 監修者：高崎和之 ）</p>
            
            <h2>電流</h2>
            <p>マイナスに帯電した物体とプラスに帯電した物体を導体でつなぐと、自由電子が連続的に移動する。この電気的な現象が電流だ。電流の流れる方向と、自由電子の移動する方向は逆になる。</p>
            <p>なぜだろうか？</p>
            <p>これは、自由電子の移動が電流の招待であることが発見される前に、電流の方向を定義したという歴史的な事情によるものだ。</p>
            <p>マイナスの電荷である自由電子がマイナスからプラスに移動するということは、プラスの電荷がプラスからマイナスに移動したことと同じ意味を持つため、実用上問題は全くない。</p>
            <p>電流が流れる際には自由電子が移動するが、マイナスに帯電した物体にあった自由電子そのものが、プラスに帯電した物体に移動しているわけではない。</p>
            <p>マイナスに帯電した物体から1個の自由電子が導体に入ろうとすると、導体内の自由電子がいっせいに移動し、プラスに帯電した物体に一番近い位置にあった自由電子が導体から押し出されるようになる。このように、電流が流れるため、導体には自由電子がたくさん存在している必要がある。（出典：「カラー徹底図解 基本からわかる電気回路」 | 出版社：株式会社ナツメ社 | 監修者：高崎和之 ）</p>
            
            <h2>電流の定義</h2>
            <p>電流という用語は、「電流が流れる」といったように、自由電子が連続して移動している電気現象を表現するが、同時にその大きさを表現する用語としても使われる。</p>
            <p>具体的には、どんなものだろうか？</p>
            <p>物理量の量記号は「I」で、単位には「A（アンペア）」が使われる。</p>
            <p>導線を流れる電流の大きさは、導線の断面を通過する電荷の量として定義されている。一定時間の間にどれだけの電荷が移動したかということだ。「1[A]の電流とは、ある断面を1[s（秒）]の間に1[C]の電荷が通過すること」を意味する。</p>
            <p>よって、電流I[A]、電荷Q[C]、時間t[s]の間には、以下の関係が成立する。</p>
            <p>I = Q/t（出典：「カラー徹底図解 基本からわかる電気回路」 | 出版社：株式会社ナツメ社 | 監修者：高崎和之 ）</p>
            
            <h2>電圧</h2>
            <p>自由電子の連続的な移動である電流は、水の流れにたとえて考えると、イメージしやすい。</p>
            <p>水流からどんなことが考察できるだろうか？</p>
            <p>水流の場合の水位とは、タンク内の水の深さではなく、同じ基準となる位置、例えば、地面から水面までの高さのことだ。電流の場合、水流の水位に相当するものを電位といい、その差が電流を流す圧力になる。そのため、2点間の電位の差のことを電圧という。</p>
            <p>帯電した物体を導体でつないだ場合、電流が流れると電位差が小さくなっていき、最終的には電位差がなくなり電流が流れなくなる。</p>
            <p>しかし、電池や発電機にような電源は、連続して電位差を作り続けることができる。</p>
            <p>このように作り続ける電位差は、起電力と表現することがある。（出典：「カラー徹底図解 基本からわかる電気回路」 | 出版社：株式会社ナツメ社 | 監修者：高崎和之 ）</p>
            
            <h2>電圧の定義</h2>
            <p>物理量である電圧の量記号には、「E」または「V」が使われる。</p>
            <p>電圧は、電荷によって得られる仕事の量（エネルギー）によって次のように定義されている。</p>
            <p>「1[C]の電荷を2点間を移動させるために1[J]の仕事が必要だった時、その2点間の電圧を1[V]という」のが定義だ。</p>
            <p>まず[J(ジュール)]はエネルギーや仕事の単位であり、量記号には「W」が使われる。1[N(ニュートン)]の力で物体を1[m]移動させる仕事の量が1[J]だ。1[J]とは、地球上で約102[g]の重さのものを1[m]持ち上げる仕事の量に相当する。</p>
            <p>電圧V[V]、仕事W[J]、電荷Q[C]の関係は、以下の式で表される。</p>
            <p>V=W/Q （出典：「カラー徹底図解 基本からわかる電気回路」 | 出版社：株式会社ナツメ社 | 監修者：高崎和之 ）</p>
            
            <h2>電気抵抗とジュール熱</h2>
            <p>電気を通しやすい導体であっても、多少は電流の流れを妨げる性質がある。</p>
            <p>この性質を何というだろう？</p>
            <p>この流れにくさを電気抵抗といい、略して単に抵抗ということが多く、レジスタンスともいう。電気抵抗の量記号は「R」で、単位には[Ω（オーム）]が使われる。</p>
            <p>いっぽう、原子は常に細かく振動している。この振動を熱振動や格子運動といい、温度が高ければ高いほど振動が大きい。</p>
            <p>この振動は何を意味するか？</p>
            <p>この振動こそ、熱の正体といえるものだ。導体に電流が流れて、自由電子が原子にぶつかると、その振動が激しくなる。こうして発生する熱をジュール熱という。熱が発生するということは、電気エネルギーが熱エネルギーに変換されたことを意味する。（出典：「カラー徹底図解 基本からわかる電気回路」 | 出版社：株式会社ナツメ社 | 監修者：高崎和之 ）</p>
            
            <h2>オームの法則</h2>
            <p>導体の両端に電圧をかけると電流が流れる。</p>
            <p>その電流の大きさは何によって決まるだろう？</p>
            <p>導体にかけた電圧と導体の抵抗によって決まる。この電圧、抵抗、電流の関係も、水の流れにたとえて考えるとイメージしやすい。</p>
            <p>水道の蛇口にホースをつないで水を送るときのホースの太さが、抵抗だと言える。細いホースと太いホースを比較すると、ホース内の水圧が同じなら、細いホースの方が送ることができる水の量が少なくなる。細いホースとは、電流で言えば抵抗が大きな導体であるといえる。</p>
            <p>こうした電圧、抵抗と電流の関係を次のようにまとめることができる。</p>
            <p>「導体を流れる電流I[A]は、電圧V[V]に比例し、電気抵抗R[Ω]に反比例する」。これをオームの法則といい、V=IRの式であらわされる。（出典：「カラー徹底図解 基本からわかる電気回路」 | 出版社：株式会社ナツメ社 | 監修者：高崎和之 ）</p>
            
            <h2></h2>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            
            <h2></h2>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            
            <h2></h2>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            
            <h2></h2>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            
            <h2></h2>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            
            <h2>|topic13|</h2>
            <p>|main_topic13|</p>
            <p>|question13|</p>
            <p>|answer13|</p>
            <p>|situation13|</p>
            <p>|complex13|</p>
            <p>|checking_q_and_a13|</p>
            
        </div>
  </body>